/* Write the CSS for you answer here */

#back{
    background-image: url(assets/landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 541px;
    width: 700px;
    margin: 50% auto;
    z-index: 1;

}
#po-tree{
    position: absolute;
    top:25%;
    z-index: 2;
}
#po{
    width: 700px;
}
#red-ball{
    position: absolute;
    top:55%;
    left: 5%;
    z-index: 3;
}

#blue-ball{
    position: absolute;
    top:35%;
    left:15%;
    z-index: 3;
}

#drak-ball{
    position: absolute;
    top:45%;
    left:47%;
    z-index: 3;
}

#green{
    position: absolute;
    top:32%;
    left:65%;
    z-index: 3;
}
#pink-ball{
    position: absolute;
    top:55%;
    left:60%;
    z-index: -1;
}
#yellow{
    position: absolute;
    top:45%;
    left:85%;
}