body{
    color: purple;
    background-color: lavender;
}
#back{
    background-color: white;
    width: 60%;
    margin: 3% 20%;
    align-content: center;
    border-radius: 25px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow: 10px 10px 5px #888888;
    box-sizing: border-box;
    position: absolute;
}
pre{
    line-height: 1.5em;
    font-size: 22pt;
    font-family: Alexbrush;
    margin: auto;
    width: 50%;

}
@font-face{
    font-family: 'Alexbrush';
    src: url('AlexBrush-Regular.ttf');
}
#title-of{
    height: 150%;
    font-size: 22pt;
    font-family: Alexbrush;
    font-weight: bold;
    margin: auto;
    padding: 50px 30px;
}
#coner{
    position: absolute;
    left: -45%;
    top: -1%;

}
#coner1{
    position: absolute;
    left: 90%;
    top: 94%;

}
#string{
    background-image: url("assets/ytile-pattern.png");
    background-repeat: repeat-y;
    position: relative;
    left: 10%;
}
